@using GBCSporting2021.ViewModels
@model IncidentFormViewModel

@{
    ViewData["Title"] = "Add Incident";
}

<h3>Add Incident</h3>

@*<div asp-validation-summary="All"></div>*@

<form method="post" asp-controller="Incident" asp-action=@Model.Action>
    <div class="form-group">
        <label asp-for="Incident.CustomerId">Customer</label>
        <select class="form-control" asp-for="Incident.CustomerId">
            <option value="-1">Select Customer</option>
            @foreach (Customer customer in Model.Customers)
            {
                <option value=@customer.CustomerId>
                    @( customer.FirstName + " " + customer.LastName )
                </option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Incident.CustomerId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Incident.ProductId">Product</label>
        <select class="form-control" asp-for="Incident.ProductId">
            <option value="-1">Select Product</option>
            @foreach (Product product in Model.Products)
            {
                <option value=@product.ProductId>@product.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Incident.ProductId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Incident.Title">Title</label>
        <input class="form-control" asp-for="Incident.Title" placeholder="Enter title here" />
        <span class="text-danger" asp-validation-for="Incident.Title"></span>
    </div>
    <div class="form-group">
        <label asp-for="Incident.Description">Description</label>
        <textarea class="form-control" asp-for="Incident.Description" placeholder="Describe incident here"></textarea>
        <span class="text-danger" asp-validation-for="Incident.Description"></span>
    </div>
    <div class="form-group">
        <label asp-for="Incident.TechnicianId">Technician</label>
        <select class="form-control" asp-for="Incident.TechnicianId">
            <option value="">Select Technician</option>
            @foreach (Technician technician in Model.Technicians)
            {
                <option value=@technician.TechnicianId>@technician.Name</option>
            }
        </select>
        <span class="text-danger" asp-validation-for="Incident.TechnicianId"></span>
    </div>
    <div class="form-group">
        <label asp-for="Incident.DateOpened">Date Opened</label>
        <input class="form-control" asp-for="Incident.DateOpened" type="datetime-local" value=@DateTime.Now.ToString("s") />
        <span class="text-danger" asp-validation-for="Incident.DateOpened"></span>
    </div>
    <div class="form-group">
        <label asp-for="Incident.DateClosed">Date Closed</label>
        <input class="form-control" asp-for="Incident.DateClosed" type="datetime-local" value="" />
        <span class="text-danger" asp-validation-for="Incident.DateClosed"></span>
    </div>
    <input type="hidden" asp-for="Incident.IncidentId" />
    <div class="form-group">
        <button class="btn btn-primary">Save</button>
        <a asp-action="List" asp-controller="Incident" class="btn btn-primary">Cancel</a>
    </div>
</form>