@model List<Registration>
@{
    ViewData["Title"] = "All Registration";
}
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<div class="flex justify-content-between align-items-center">
    <h3 class="page-heading">Registrations</h3>
    @if (TempData.Keys.Contains("message"))
    {
        <a href="#" class="badge badge-@(TempData["indicator"])">@TempData["message"]</a>
    }
    <a class="btn-sm btn-primary" asp-controller="Product" asp-action="Add">Add Registration</a>
</div>
